<div class="grid grid-pad">
  <div class="col-1-4">
    <div class="content">
      <h2>New</h2>
      <md-list>
        <md-list-item *ngFor="let task of newTasks">
          <h3 md-line> {{task.title}} </h3>
          <p md-line>
            <span> {{task.id}} </span>
            <span class="demo-2"> -- {{task.description}} </span>
          </p>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div class="col-1-4">
    <div class="content">
      <h2>Development</h2>
      <md-list>
        <md-list-item *ngFor="let task of developmentTasks">
          <h3 md-line> {{task.title}} </h3>
          <p md-line>
            <span> {{task.id}} </span>
            <span class="demo-2"> -- {{task.description}} </span>
          </p>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div class="col-1-4">
    <div class="content">
      <h2>Test</h2>
      <md-list>
        <md-list-item *ngFor="let task of testTasks">
          <h3 md-line> {{task.title}} </h3>
          <p md-line>
            <span> {{task.id}} </span>
            <span class="demo-2"> -- {{task.description}} </span>
          </p>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div class="col-1-4">
    <div class="content">
      <h2>Deploy</h2>
      <md-list>
        <md-list-item *ngFor="let task of deployTasks">
          <h3 md-line> {{task.title}} </h3>
          <p md-line>
            <span> {{task.id}} </span>
            <span class="demo-2"> -- {{task.description}} </span>
          </p>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>