<div class="grid grid-pad" *ngIf="!taskFormOpen"> 
  <div class="col-1-6">
    <div class="content">
      <button md-fab (click)="showTaskForm()">
        <md-icon class="md-24">add</md-icon>
      </button>
    </div>
  </div>
</div>
<div class="grid grid-pad" *ngIf="taskFormOpen">
  <div class="col-1-1">
    <div class="content">
      <app-task-form (taskAdded)="taskAddedHandler($event)"></app-task-form>
    </div>
  </div>
</div>
<div class="grid grid-pad">
  <div class="col-1-4">
    <div class="content">
      <md-toolbar [color]="accent">
        <h2>New</h2>
      </md-toolbar>
      <app-task-card *ngFor="let task of tasks" [task]="task"></app-task-card>
    </div>
  </div>
  <div class="col-1-4">
    <div class="content">
      <md-toolbar [color]="accent">
        <h2>Development</h2>
      </md-toolbar>
      <app-task-card *ngFor="let task of tasks" [task]="task"></app-task-card>
    </div>
  </div>
  <div class="col-1-4">
    <div class="content">
      <md-toolbar [color]="accent">
        <h2>Test</h2>
      </md-toolbar>
      <app-task-card *ngFor="let task of tasks" [task]="task"></app-task-card>
    </div>
  </div>
  <div class="col-1-4">
    <div class="content">
      <md-toolbar [color]="accent">
        <h2>Deploy</h2>
      </md-toolbar>
      <app-task-card *ngFor="let task of tasks" [task]="task"></app-task-card>
    </div>
  </div>
</div>