<div class="grid grid-pad">
  <div class="col-1-3">
    <div class="content">
    </div>
  </div>
  <div class="col-1-3">
    <div class="content">
      <md-card class="app-input-section">
        <div>
          <md-input placeholder="Username"></md-input>
        </div>
        <div>
          <md-input placeholder="Password"></md-input>
        </div>
        <div>
          <button md-raised-button color="primary" (click)="login()">Login</button>
        </div>
      </md-card>
    </div>
  </div>
  <div class="col-1-3">
    <div class="content">
    </div>
  </div>
</div>